body  {            
  background-image: url(images/carbon.jpg); 
  background-attachment: scroll;       
  background-repeat: repeat;
  background-position: top;
  font-family: Arial, Georgia, Serif;

  
}

#menu{
   text-align: center;
   margin: 15%;
   font-weight: bold;
   color: white;
}

#menu a {
   text-decoration: none;
   color: white;
   
}




#header {
     
}



#login-name {

}
